@import url("https://fonts.googleapis.com/css?family=Abel");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

body {
  color: #333;
  width: 100%;
  font-family: 'Abel', sans-serif;
  background-color: whitesmoke; }

.main-container {
  padding: 6rem 1rem 1rem 1rem;
  width: 100%; }
  @media (min-width: 1200px) {
    .main-container {
      padding: 4rem 1rem; } }

.main {
  width: 100%;
  position: relative; }

.main-nav-container {
  width: 100%;
  height: 43px;
  position: absolute;
  top: 0;
  background: whitesmoke;
  z-index: 8888; }

header.nav-header {
  display: none;
  padding: 1rem;
  position: fixed;
  width: 95%;
  background: whitesmoke;
  z-index: 9999;
  left: 50%;
  transform: translateX(-50%); }
  header.nav-header .heading {
    width: 33.3333333%;
    float: left; }
  header.nav-header .center {
    text-align: center; }
  header.nav-header .right {
    text-align: right; }
  header.nav-header h1, header.nav-header p {
    color: #333;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: .8rem;
    letter-spacing: 2px;
    cursor: pointer;
    display: inline-block; }

.selected h1 {
  color: #333 !important;
  font-weight: normal; }

@media (min-width: 550px) {
  .projects {
    padding: .75rem; } }

.project-container {
  width: 100%;
  float: left;
  cursor: pointer; }
  @media (min-width: 550px) {
    .project-container {
      width: 50%; } }
  @media (min-width: 1200px) {
    .project-container {
      width: 33.33333%; } }
  .project-container .project {
    height: 100%;
    cursor: pointer;
    padding: 1rem 0;
    transition: ease .4s all; }
    @media (min-width: 550px) {
      .project-container .project {
        padding: .75rem; } }
    .project-container .project img {
      width: 100%;
      opacity: .65;
      transition: ease .2s all;
      cursor: pointer;
      filter: grayscale(0); }
      .project-container .project img:hover {
        cursor: pointer;
        opacity: 1;
        transition: ease .2s all;
        filter: grayscale(0); }

.project-colab {
  text-align: center;
  text-transform: uppercase;
  font-size: .75rem;
  letter-spacing: 1px;
  margin: 1.2rem 0; }
  .project-colab p.credits {
    margin: .5rem 0;
    text-transform: none;
    font-size: .85rem; }
  .project-colab .credit-title {
    text-transform: uppercase !important;
    font-size: .7rem; }

.project-description p {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: .25rem 0;
  font-weight: bolder; }
  @media (min-width: 1200px) {
    .project-description p {
      font-size: .9rem; } }

h1 {
  color: #333;
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1rem;
  letter-spacing: 2px;
  color: #888; }

h2 {
  color: green; }

a {
  color: #333;
  text-decoration: none; }

nav.main-nav {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 9999; }
  @media (min-width: 768px) {
    nav.main-nav {
      width: 70%;
      padding: .1rem .3rem .3rem .7rem; } }

#homepage-nav {
  background: whitesmoke;
  margin: 0 0 5rem 0;
  width: 100%; }
  @media (min-width: 550px) {
    #homepage-nav {
      margin: 0 0 10rem 0; } }

#nav-items {
  width: 100%;
  margin: auto; }
  @media (min-width: 550px) {
    #nav-items {
      width: 70%; } }

#clear {
  width: 100%;
  height: 200px; }

.add-border {
  border-top: 30px solid #000;
  border-bottom: 30px solid #000; }

.back-btn {
  position: relative;
  height: 37px;
  width: 20% !important; }
  @media (min-width: 550px) {
    .back-btn {
      width: 37px !important; } }
  .back-btn i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    font-size: 25px;
    color: whitesmoke; }

.image-container {
  width: 100%;
  margin: 2rem auto; }
  @media (min-width: 768px) {
    .image-container {
      width: 70%;
      margin: 3rem auto; } }

.top-margin {
  margin-top: 7rem; }

.lead-image {
  width: 100%; }
  .lead-image img {
    width: 100%;
    z-index: 0; }

.border {
  width: 100%;
  height: 490px;
  border: 30px solid #000;
  border-radius: 8px;
  position: absolute;
  z-index: 100; }

.single-project-description {
  width: 60%;
  max-width: 700px;
  margin: 2rem auto 0 auto; }
  .single-project-description header.project-head {
    margin: 3rem 0 2rem 0; }
    .single-project-description header.project-head h3 {
      font-size: 1rem;
      letter-spacing: 1px;
      font-weight: bolder;
      font-family: 'Montserrat', sans-serif; }
      @media (min-width: 1200px) {
        .single-project-description header.project-head h3 {
          font-size: 2.5rem; } }
  .single-project-description .project-synopsis p {
    font-weight: bolder;
    line-height: 1.5;
    font-size: 1.1rem; }

.info-container {
  margin: 2rem 0 0rem 0;
  width: 100%;
  height: 50px;
  max-width: 700px;
  position: relative; }

.project-synopsis {
  font-weight: bolder;
  line-height: 1.5;
  font-size: 1.1rem; }

.project-info p,
.project-info a {
  font-weight: bolder;
  line-height: 1.5;
  font-size: .75rem;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block; }

.project-info {
  float: left;
  margin-right: 2rem; }
  .project-info i {
    font-size: 12px;
    margin-right: .25rem; }

@media (min-width: 550px) {
  .project-skills {
    float: left; } }

.project-skills a {
  text-transform: uppercase; }

.mobile-image-container {
  width: 60%;
  max-width: 600px;
  margin: 5rem auto 0 auto;
  position: relative; }

.mobile-image {
  width: 250px;
  height: 480px;
  position: relative;
  margin-left: 80px; }
  .mobile-image img {
    width: 90%;
    position: absolute;
    top: 45px;
    left: 15px;
    z-index: 0; }

.mobile-border {
  width: 250px;
  height: 100%;
  border: 15px solid #000;
  border-top: 45px solid #000;
  border-bottom: 60px solid #000;
  border-radius: 8px;
  position: absolute;
  z-index: 100; }

.shorty-left {
  width: 240px;
  position: absolute;
  top: 45px;
  left: -140px; }
  .shorty-left img {
    width: 100%;
    filter: grayscale(1);
    opacity: .7; }

.shorty-right {
  width: 380px;
  position: absolute;
  top: 45px;
  left: 315px; }
  .shorty-right img {
    width: 100%;
    filter: grayscale(1);
    opacity: .7; }

.tool-box p {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .8rem; }

span.tool {
  text-transform: uppercase;
  font-size: .8rem;
  letter-spacing: 2px;
  background: #ddd;
  color: #333;
  padding: .2rem .5rem;
  margin: 0 .1rem; }

.next-projects-container {
  width: 90%;
  margin: 0 auto 3rem auto; }
  .next-projects-container p {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .9rem; }
  .next-projects-container p.page-btn {
    font-size: .75rem;
    color: #555;
    margin: .5rem 0; }
  .next-projects-container .previous {
    float: left;
    width: 48%; }
    @media (min-width: 550px) {
      .next-projects-container .previous {
        width: 200px; } }
  .next-projects-container .next {
    float: right;
    text-align: right;
    width: 48%; }
    @media (min-width: 550px) {
      .next-projects-container .next {
        width: 220px; } }

.image-container-two {
  max-width: 750px;
  margin: 3rem auto; }
  .image-container-two .image-two img {
    width: 100%; }

.mobile-double-image {
  width: 100%;
  margin: auto; }
  @media (min-width: 768px) {
    .mobile-double-image {
      width: 650px; } }
  .mobile-double-image .mobile-image-container {
    width: 250px;
    margin: 2rem auto; }
    @media (min-width: 768px) {
      .mobile-double-image .mobile-image-container {
        margin: 2rem;
        float: left; } }
    .mobile-double-image .mobile-image-container .mobile-image {
      margin: auto; }
      @media (min-width: 768px) {
        .mobile-double-image .mobile-image-container .mobile-image {
          margin: 0; } }

#ys-lead {
  z-index: 2000;
  border-radius: 8px; }
  #ys-lead img {
    width: 94%;
    top: 50%;
    left: 25px;
    transform: translateY(-50%); }

#napkin-lead {
  background: #000;
  border-radius: 8px; }
  #napkin-lead img {
    top: 35px;
    left: 17px; }

#river-people-lead img {
  width: 95%;
  top: 20px;
  left: 22px; }

#travel-lead {
  position: relative;
  background-color: #fff; }
  #travel-lead img {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

#ultimate-player-lead {
  position: relative;
  background-color: #000;
  border-radius: 8px; }
  #ultimate-player-lead img {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

#ultimate-player-image-four {
  width: 70%; }

#ultimate-player-image-three {
  width: 50%; }
  #ultimate-player-image-three img {
    width: 100%; }

#ultimate-player-mobile img {
  width: 89%; }

#ys-container {
  background: #000; }

a:hover {
  text-decoration: underline;
  cursor: pointer; }

#connect-btn {
  font-size: 1.75rem;
  letter-spacing: 0; }

#twitter-btn {
  margin-left: 1.25rem; }

.connect-modal-container {
  width: 100%;
  height: 100vh;
  background: rgba(245, 245, 245, 0.9);
  position: fixed;
  z-index: -1;
  opacity: 0;
  transition: ease .12s all;
  padding: 1rem; }

.display {
  z-index: 9999;
  opacity: 1;
  transition: ease .12s all; }

.no-display {
  z-index: -1;
  opacity: 0;
  transition: ease .12s all; }

.connect-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 700px; }

.connect-text a {
  text-decoration: none; }

.connect-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 170px;
  background: #333;
  padding: 1rem; }
  @media (min-width: 550px) {
    .connect-modal {
      max-width: 600px;
      height: 250px; } }
  .connect-modal a {
    color: whitesmoke; }
    .connect-modal a:hover {
      color: yellow;
      text-shadow: none; }
  .connect-modal h3 {
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin: 0 0 .75rem 0; }
    @media (min-width: 550px) {
      .connect-modal h3 {
        font-size: 2.5rem; } }
  .connect-modal .connect-modal-btn p {
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: bolder;
    display: inline-block; }
    @media (min-width: 550px) {
      .connect-modal .connect-modal-btn p {
        font-size: 1.75rem; } }
    .connect-modal .connect-modal-btn p:last-child {
      margin-left: 1.25rem; }

.exit-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: whitesmoke;
  cursor: pointer; }
  .exit-modal:hover {
    background: yellow; }
  .exit-modal i {
    color: #333;
    font-size: 1.25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%); }

.bio-container {
  width: 100%;
  margin: auto; }
  @media (min-width: 550px) {
    .bio-container {
      width: 70%;
      margin: 2rem auto 0 auto; } }
  @media (min-width: 1200px) {
    .bio-container {
      margin: 5rem auto 0 auto; } }
  .bio-container header.bio-header {
    width: 100%; }
    @media (min-width: 1200px) {
      .bio-container header.bio-header {
        max-width: 700px; } }
    .bio-container header.bio-header #text-header-container {
      margin-bottom: 1.75rem;
      margin-left: .1rem;
      position: relative; }
      @media (min-width: 1200px) {
        .bio-container header.bio-header #text-header-container {
          height: 168px; } }
      .bio-container header.bio-header #text-header-container #text-header {
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        font-size: 2.25rem;
        letter-spacing: 1px;
        line-height: 1.4; }
        @media (min-width: 1200px) {
          .bio-container header.bio-header #text-header-container #text-header {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            font-size: 2.5rem; } }

.header-btn {
  font-weight: 800;
  letter-spacing: 2px;
  float: left;
  background: #333;
  padding: .5rem 1rem;
  text-transform: uppercase;
  cursor: pointer;
  color: whitesmoke;
  font-size: 1rem;
  width: 40%;
  text-align: center; }
  @media (min-width: 550px) {
    .header-btn {
      width: 111px;
      margin: .1rem;
      font-size: 1rem; } }

.header-btn:hover {
  box-shadow: 0px 5px 0 yellow;
  color: yellow; }

.header-btn i:hover {
  color: yellow; }

footer.main-footer {
  width: 90%;
  margin: 1rem auto;
  text-align: right; }
  footer.main-footer p {
    text-transform: uppercase;
    font-size: .6rem;
    letter-spacing: 1px;
    color: #aaa; }

.margin {
  margin: .25rem 0 .25rem 0; }
  @media (min-width: 550px) {
    .margin {
      margin: 0 0 0 2rem; } }
